# version: "3.9"

# services:
#   backend:
#     build: ./backend
#     ports:
#       - "5000:5000"
#     env_file:
#       - ./backend/.env
#     depends_on:
#       - mongo

#   mongo:
#     image: mongo
#     ports:
#       - "27017:27017"


version: '3.8'

services:
  # 1. Database
  mongo:
    image: mongo:latest
    container_name: cosmic_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - cosmic-net

  # 2. Backend API
  backend:
    build: ./backend
    container_name: cosmic_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/cosmicwatch
      - JWT_SECRET=cosmicsecret123
      - NASA_API_KEY=hI6TsJAssWGM7Rb03526mU03oCeHE4kffDFXnHx7
    depends_on:
      - mongo
    networks:
      - cosmic-net

  # 3. Frontend UI
  frontend:
    build: ./frontend
    container_name: cosmic_frontend
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - cosmic-net

networks:
  cosmic-net:
    driver: bridge

volumes:
  mongo-data: